.myPostsTitle {
    color: #00C854;
    font-size: 20px;
    font-weight: bold;
}

.makeNewPost {
    /*margin-left: 10px;*/
}

.postsBlock {
    margin: 0 10px 10px 10px ;
    color: white;
}

.postedPosts {
    margin-top: 10px;
}
