.nav {
    grid-area: n;
    background-color: #00C854;
    padding: 10px;
    margin: 10px 5px 0 0;
    border-radius: 10px;
}

.item a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.item a.active {
    text-decoration: underline;
}


