
.ProfileInfoBlock {
    display: flex;
    width: 75%;
    padding: 15px;
}

.avatarContainer {
    margin-right: 40px;
    flex-direction: column;
    display: flex;
}

.avatarContainer img {
    width: 250px;
    border-radius: 50%;
}

